.friends {
    width: 250px;
    text-align: center;
    margin: auto;
}

.item {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.statusOnline,
.statusOffline {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: green;
    margin: 0 15px 0 15px; 
}

.statusOffline {
    background-color: red;
}
